{% extends 'skeletons/cart-base.html' %}
{% load slash_price %}

{% block modal %}
{% endblock %}

{% block content %}
<div class="container">
  {% if user_cart.cartitem_set.count %} {% for cart_item in user_cart.cartitem_set.all %}
  <div class="item card p-4 m-3">
    <div class="row">
      <div class="col">
        <img
          src="{{ cart_item.saved_item.image_set.first.path_to_img.url  }}"
          alt="{{ cart_item.saved_item.title }}"
          class="img-thumbnail"
          width="100"
          height="50"
        />
      </div>
      <div class="col">
        <a
          class="fw-bold"
          href="{% url 'store_main:item_detail' cart_item.saved_item.id %}"
          >{{ cart_item.saved_item.title }}</a
        >
      </div>
      <div class="col">
        <button
          id="chg-cart"
          data-req-type="remove"
          data-item-id="{{ cart_item.saved_item.id }}"
          class="btn btn-outline-danger me-3 remove"
          data-loop="{{forloop.counter}}"
        >
          -
        </button>

        <span class="item_qty">{{ cart_item.item_qty }}</span>
        <button
          id="chg-cart"
          data-req-type="add"
          data-item-id="{{ cart_item.saved_item.id }}"
          class="btn btn-outline-danger ms-3"
          data-loop="{{forloop.counter}}"

        >
          +
        </button>
      </div>
      <div class="col order-price" data-price="{{ cart_item.saved_item.price|slash_price:cart_item.saved_item.discount_percentage }}">$
        {{ cart_item.saved_item.price|slash_price:cart_item.saved_item.discount_percentage }}</div>
      <div class="col">
        <p class="fw-bold">Total: <span class="total">${{ cart_item.saved_item.price|slash_price:cart_item.saved_item.discount_percentage }}</span></p>
      </div>
      <div class="col">
        <div class="d-flex justify-content-around">
           <div class="col">
            <a href="{% url 'payments:payment_checkout' cart_item.saved_item.id  %}" class="mx-3 text-decoration-none">Checkout</a>
        </div>
        <div class="col">
            <a href="{% url 'cart:cart_delete' cart_item.saved_item.id %}" class="text-danger text-decoration-none">Remove</a>
        </div>
        </div>
       
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="mx-auto">Complete your order</p>
      </div>
      <div class="col">
        <a href="#" class="btn btn-primary">Order</a>
      </div>
    </div>
  </div>
  {% else %} No Items in Cart. {% endif %}
</div>
{% endblock content %}
