{% extends 'skeletons/base.html' %}
{% load static %}

{% block filter_info %}
    {% include 'skeletons/search.html' %}
{% endblock %}


{% block content %}
<div class="container bg-dark mt-3">
    <div class="d-flex justify-content-center p-5">
        <div class="col-9">
            <h3 class="text text-white">OTAKU Assemble! Best Deals this Friday for your anime props and wears</h3>
        </div>
        <div class="col-3">
                <a class="yoami-btn yoami-btn-white">Start Shopping</a>

        </div>
    </div>
</div>

<div class="container mt-5">
    {% if items %}
    <div class="row row-12">
        {% for item in items %}
        <div class="item-card col-4 my-3">
            <div class="position-relative" >
                    <img src="{{ item.image_set.first.path_to_img.url }}"  alt="{{item.image_set.first.item_name}}" width="300" height="300" />
                    <span class="position-absolute top-0 start-80 translate-middle badge rounded-pill bg-danger">-{{item.discount_percentage}}%</span>
            </div>
            <div class="item-info">
                <h3><a class="text text-dark text-decoration-none fs-6" href="{% url 'store_main:item_detail' item.id %}">{{ item.title|title }}</a></h3>
                <p>${{ item.price }}</p> <!-- TODO: Show discounted price and old price with % -->
            </div>
            <div class="add-cart">
                <a id="chg-cart" class="cart-btn yoami-btn yoami-btn-full-width" data-req-type="add" data-item-id="{{ item.id }}"
                  >Add to Cart</a>
              </div>
              
            
        </div>
    {% endfor %}
    </div>
        
    {% else %}
        <div class="no-items">
            <h2>No items to display, please check later.</h2>
        </div>
    {% endif %}
    
    {% endblock %}
    
</div>
{% block scripts %}
    {{ request.user.id|json_script:"user_id" }}
    <script src="{% static 'yoami/js/cart.js' %}"></script>
{% endblock%}