{% extends 'skeletons/base.html' %}
{% load static %}

{% block filter_info %}
    {% include 'skeletons/search.html' %}
{% endblock %}

{% block content %}
{% if items %}
    {% for item in items %}
            <div class="item-card">
                <div class="image-carousel">
                    {% for img in item.image_set.all %}
                        <img src="{{ img.path_to_img.url }}" alt="{{img.item_name}}" width="300" />
                    {% endfor %}
                </div>
                <div class="item-info">
                    <h2><a href="{% url 'store_main:item_detail' item.id %}">{{ item.title|title }}</a></h2>
                    <p>{{ item.desc|truncatewords:15 }}</p>
                    <p>${{ item.price }}</p> <!-- TODO: Show discounted price and old price with % -->
                    {% for category in item.category.all %}
                        <em class="{{ category.category_name }}">{{ category.get_category_name_display }}</em>
                    {% endfor %}
                    <a href="#">Add to Cart</a>
                </div>
                
            </div>
    {% endfor %}
{% else %}
    <div class="no-items">
        <h2>No items to display, please check later.</h2>
    </div>
{% endif %}
{% endblock %}