{% extends 'skeletons/base.html' %}

{% block filter_info %}
    {% include 'skeletons/search.html' %}
{% endblock %}

{% block content %}


{% if error_msg %}
    {{ error_msg }}
    <div>Some items</div>


{% elif found_items %}
<div class="items-container">
    {% for item in found_items %}
    <div class="item-card">
        <div class="image-carousel">
            {% for img in item.image_set.all %}
                <img src="{{img.path_to_img}}" alt="{{img.item_name}}" width="300" />
            {% endfor %}
        </div>
        <div class="item-info">
            <h2>{{ item.title|title }}</h2>
            <p>{{ item.desc|truncatewords:15 }}</p>
            <p>${{ item.price }}</p> <!-- TODO: Show discounted price and old price with % -->
            {% for category in item.category.all %}
                <em class="{{ category.category_name }}">{{ category.get_category_name_display }}</em>
            {% endfor %}
            <a href="#">Add to Cart</a>
        </div>
        
    </div>
    {% endfor %}
</div>

{% endif %}
{% endblock %}