{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% block head_tag %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'yoami/css/index.css' %}" />
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <title>
      {% block title %} Yoami - Best anime items for you {% endblock %}
    </title>
  </head>
  {% endblock %}
  <body>
    <nav>
      <a class="navbar-brand" href="/">Yoami</a>
      <div class="menu-items">
        {% block navbar %}
        <ul class="navbar-nav">
          <li class="nav-item cart-li">
            <a class="nav-link" href="{% url 'cart:cart_list' %}"
              ><img class="img" src="{% static 'images/cart.png'  %}"
              
            />
            <span class="position-absolute top-10 start-100 translate-middle badge rounded-pill bg-danger">
                {{ cart_qty }}
            </span>
            </a>
          </li>
          {% if form %}
          <li>
            <!-- Search Bar -->
            {% block filter_info %} {% endblock %}
          </li>
          {% endif %}
        </ul>
        {% endblock %}
      </div>

      <div class="auth">
        {% if user.is_authenticated %}
        <div class="dropdown">
            <img src="{% static 'images/profile.png' %}" width="30" />
            Hello, {{ user.first_name|title }}
            <div class="dropdown-content">
              <a class="text-decoration-none text-dark" href="{% url 'users:logout' %}">Log out</a>
            </div>
        </div>
        {% else %}
        <p>
          <a href="{% url 'users:login' %}" class="yoami-btn yoami-btn-blue">Login</a>
        </p>
        {% endif %}
      </div>
    </nav>
    <div class="content">{% block content %} {% endblock %}</div>
    <footer>footer</footer>

    {% block scripts%}
    {% endblock%}
  </body>
</html>
