{% extends 'skeletons/users-base.html' %}

{% block content %}
{% for message in messages %}
    <p class="alert alert-danger container">{{ message }}</p>
{% endfor %}
<div class="container-md">
    <form method="post" class="pt-5">
        <h1 class="h2">Fill the form below to register</h1>

        {% csrf_token %}
        <div class="row">
            {% for field in form %}
            <div class="col-md-4 p-3">
                 <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                </div>
            </div>
        {% endfor %}
        </div>  
        <button class="yoami-btn my-3 p-2">Submit</button>
    </form>
    <a href="{% url 'users:login' %}" class="mt-3">Login</a>
</div>

{% endblock %}

